.wp-block-form-section-icon-container {
	.wp-block-form-section-list {
		list-style-type: none;
		display: flex;
		margin: 0;
		padding: 0;

		.wp-block-form-section-list-item {
			margin-right: 1rem;

			button {
				outline: none;
				border: none;
				background-color: transparent;
				margin: 0;
				padding: 0;
			}
		}
	}
}
